<h2 mat-dialog-title>{{ titulo }} - Contato - Profissional</h2>
<mat-dialog-content class="mat-typography">

    <div [hidden]="tipos">
         <mat-form-field appearance="fill" style="width: 320px" >
        <mat-label>Tipo</mat-label>
        <input matInput matTooltip="tipo de contato" [(ngModel)]="tipoContato" readonly />
    </mat-form-field>
    </div>
   
    <div [hidden]="!tipos">
        <mat-form-field *ngIf="tipos" appearance="fill" style="width: 320px"  >
        <mat-label>Selecione da lista</mat-label>
        <mat-select matTooltip="tipos">
            <mat-option *ngFor="let option of tipos" [value]="option.codigo">
                {{ option.descricao }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    



    <mat-form-field appearance="fill" style="width: 620px">
        <mat-label>Descrição/Valor</mat-label>
        <input matInput matTooltip="valor/descricação do tipo de contato" [(ngModel)]="descricao" />
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button="Salvar o registro" color="primary" (click)="submit()">
        Salvar &nbsp;<mat-icon>save</mat-icon>
    </button>
    <button mat-raised-button="Retornar" color="primary" mat-dialog-close>
        Retornar<mat-icon>reply</mat-icon>
    </button>
</mat-dialog-actions>