<div class="container">
  <mat-card>
    <mat-card-header>Apuração do profissional</mat-card-header>
    <mat-card-content>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="fill" class="campoProfissional">
          <mat-label>Profissional</mat-label>
          <mat-select formControlName="codigoProfissional" matTooltip="Profissional a ser efetuado a apuração" required>
            <mat-option *ngFor="let profissional of optionProfissionais" [value]="profissional.codigo">
              {{profissional.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>In&igrave;cio</mat-label>
          <input formControlName="inicioPeriodo" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
            required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>T&eacute;rmino</mat-label>
          <input formControlName="fimPeriodo" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFim"
            required>
          <mat-datepicker-toggle matSuffix [for]="pickerFim"></mat-datepicker-toggle>
          <mat-datepicker #pickerFim></mat-datepicker>
        </mat-form-field>
        <!-- <button mat-raised-button type="button" color="primary" [disabled]="!formulario.valid" (click)="loadData()">
          Pr&eacute;via &nbsp;<i class="material-icons right">preview</i>
        </button> -->
  
        <mat-divider> </mat-divider>
        <mat-card-actions align="end">
          <button type="submit" mat-raised-button color="primary" [disabled]="!formulario.valid">
            Gerar &nbsp;<i class="material-icons right">functions</i>
          </button>
          <button type="button" mat-raised-button color="primary" (click)="retornar()">
            Retornar &nbsp;<i class="material-icons right">reply</i>
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>