.container .mat-form-field + .mat-form-field {
    margin-left: 5px;
    margin-top: 5px;
  
  }
  .container{
    text-align: center;
  }
  .campoProfissional{
    width: 400px;
  }
  table{
    width: 100%;
  }