<div>
   <mat-card>
        <mat-card-header>
          <mat-label>Adicionar a imagem de logo da empresa</mat-label>
        </mat-card-header>
        <mat-card-content>
            <div class="text-center">
                <input class="form-control" type="file" 
                        (change)="onChange($event)">
              
                <button (click)="onUpload()" 
                    class="btn btn-success">
                    Upload
                </button>
            </div>
              
            <!-- Shareable short link of  uploaded file -->
            <div class="container text-center jumbotron"
                *ngIf="shortLink">
                <h2> Visit Here</h2>
                <a href="{{shortLink}}">{{shortLink}}</a>
            </div>
              
            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
                <h3>Loading ...</h3>
            </div>
        </mat-card-content>
    </mat-card>
</div>