.container .mat-form-field + .mat-form-field {
    margin-left: 5px;
    margin-top: 5px; 
}
table{
    width: 100%;
}
.mat-card-title{
    background-color: lightblue;
    color:black;
    font-weight: bold;
    font-size: medium;
}
