<div>
    <p *ngIf="!estoques"><em>Carregando...</em></p>
</div>
<div [hidden]="!estoques">
    <mat-card>
        <div>
          <mat-card-header>
            <mat-label>Lista de Estoques</mat-label>
          </mat-card-header>
        </div>
        <div>
         <mat-card-content>
          <mat-form-field [hidden]="!estoques">
            <input matInput (keyup)="loadData($event.target.value)" placeholder="Pesquisar por nome do produto (ou parte dele)..." />
          </mat-form-field>                  
          <div style="width: 100%;">
            <table mat-table [dataSource]="estoques" class="mat-elevation-z8" [hidden]="!estoques" matSort         
            (matSortChange)="loadData()" matSortActive="{{ defaultSortColumn }}" matSortDirection="{{ defaultSortOrder }}">
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>C&oacute;digo</mat-header-cell>
              <mat-cell *matCellDef="let estoque"> {{ estoque.codigoProduto }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nome">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Produto</mat-header-cell>
              <mat-cell *matCellDef="let estoque"><a >{{
                  estoque.produto.nome  
                  }}</a></mat-cell>
            </ng-container>        
            <ng-container matColumnDef="quantidade">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade-total</mat-header-cell>
              <mat-cell *matCellDef="let estoque"><a >{{
                  estoque.quantidadeEstoque
                  }}</a></mat-cell>
            </ng-container>               
            <ng-container matColumnDef="acao">
              <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
              <mat-cell *matCellDef="let estoque">
                
                  <button
                    mat-mini-fab
                    color="primary"
                    aria-label="consultar detalhe"                   
                    [routerLink]="['/estoque', estoque.codigoProduto]"
                    >                                            
                    <mat-icon>view_comfy</mat-icon>
                  </button>
              </mat-cell>
            </ng-container>    
            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas"></mat-row>
            </table>  
          </div>
          <mat-paginator [hidden]="!estoques" (page)="getData($event)" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
            showFirstLastButtons>
          </mat-paginator>    
        </mat-card-content>
        </div>    
      </mat-card>
</div>
