.container {
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
  }
  .mat-raised-button+.mat-raised-button {
    margin-left: 5px;
    margin-top: 5px;
  }
  .mat-form-field+.mat-form-field {
    margin-left: 5px;
    margin-top: 5px;
  }
  .campoObservacao{
    width: 510px;
  }
  .campoCodigo{
    width: 100px;
  }
  camposAbertura{
    width: 130px;
  }
  campoValor{
    width: 100px;
    text-align: right;
  }
  .botaoFechar{
    background-color: green;
    color: white;
  }
table{
  width: 100%;
  text-align: center;
}
.AlinharValores{
  text-align: right;
}