<h2 mat-dialog-title>Documentos</h2>
<mat-dialog-content class="mat-typography">
  <div class="container">
    <button  mat-raised-button color="primary"
                 color="primary"
                 matTooltip="salvar novo documento"
                 [disabled] = "!habilitaNovo"
                 (click)="openDialogNovo()">Adicionar &nbsp;
                 <i class="material-icons right">add</i>
          </button>
  </div>

  <div>

      <table mat-table [dataSource]="profissionalDocumentos" class="mat-elevation-z8" [hidden]="!profissionalDocumentos" >
      <ng-container matColumnDef="tipo">
        <mat-header-cell *matHeaderCellDef >Tipo</mat-header-cell>
        <mat-cell *matCellDef="let profiDocumento"> {{ profiDocumento.documento.tipoDocumento.descricao }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="descricao">
        <mat-header-cell *matHeaderCellDef >Descrição</mat-header-cell>
        <mat-cell *matCellDef="let profiDocumento"> {{ profiDocumento.documento.descricao }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="acao">
        <mat-header-cell *matHeaderCellDef> Ação </mat-header-cell>
        <mat-cell *matCellDef="let profiDocumento">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Editar o documento"
            value="{{ profiDocumento.codigoDocumento }}"
            (click)="openDialogEditar(profiDocumento)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          &nbsp;
          <button
            mat-mini-fab
            aria-label="Apagar documento"
            color="warn"
            value="{{profiDocumento.codigoDocumento}}"
            (click)="openDialogApagar(profiDocumento.codigoDocumento)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: colunas"></mat-row>
    </table>
  </div>
</mat-dialog-content>

