<h2 mat-dialog-title>Endereço</h2>
<mat-dialog-content class="mat-typography">
  <!-- <form [formGroup]="formulario" (ngSubmit)="onSubmit()"> -->
    <mat-form-field appearance="fill" style="width: 350px">
      <mat-label>Rua</mat-label>
      <input matInput 
            [(ngModel)]="endereco.descricao" 
             placeholder="Digite o nome da rua "
             matTooltip="Informar o nome da rua "
      />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 150px">
      <mat-label>Número</mat-label>
      <input
        matInput
        placeholder="Digite o número"
        [(ngModel)]="endereco.numero"
        matTooltip="Informar o numero"
      />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 558px">
      <mat-label>Complemento</mat-label>
      <input
        matInput
        placeholder="Digite o complemento "
        [(ngModel)]="endereco.complemento"
        matTooltip="Informar o complemento "
      />
    </mat-form-field>

     
      <mat-form-field appearance="fill" style="width: 440px">
        <mat-label>Bairro</mat-label>
        <input
          matInput
          placeholder="Digite o bairro "
          [(ngModel)]="endereco.bairro"
          matTooltip="Informar o bairro "
        />
      </mat-form-field>
     <mat-form-field appearance="fill" style="width: 150px">
        <mat-label>CEP</mat-label>
        <input
          matInput
          placeholder="Digite o número"
          [(ngModel)]="endereco.cep"
          matTooltip="Informe o número"
          maxlength="8"
        />
            
      </mat-form-field>
      
      <mat-form-field appearance="fill" style="width: 150px">
        <mat-label>Estado</mat-label>
        <mat-select
          [(ngModel)]="endereco.codigoUnidadeFederativa"
          matTooltip="Estado federativa do Brasil"
          (ngModelChange)="onEstadoSelecionado()"
        >
          <mat-option [value]="0"></mat-option>
          <mat-option
            *ngFor="let estado of estados"
            [value]="estado.codigo"
          >
            {{ estado.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 315px">
        <mat-label>Município</mat-label>
        <mat-select
        [(ngModel)]="endereco.codigoMunicipio"
          matTooltip="Municípios do Brasil"
        >
          <mat-option
            *ngFor="let municipio of municipios"
            [value]="municipio.codigo"
          >
            {{ municipio.descricao }}
          </mat-option>
        </mat-select>
      </mat-form-field> 
      
  
  
   <!--  <app-msg-error
      [mostrarErro]="
        formulario.get('cep').value &&
        formulario.get('cep').hasError('pattern')
      "
      mensagemErro="Por favor, digitar somente os números do CEP."
    ></app-msg-error>
    <app-msg-error
      [mostrarErro]="
        formulario.get('cep').hasError('minlength')
      "
      mensagemErro="Por favor, digitar o cep completo."
    >
    </app-msg-error> -->
   
  

 
  
 <!-- </form>  -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button   mat-dialog-close color="primary">Retornar &nbsp;<i class="material-icons right">reply</i></button>
  <button mat-button [mat-dialog-close]="endereco"   color="primary" >   
    Salvar &nbsp;<i class="material-icons right">save</i> 
  </button>
</mat-dialog-actions>