<mat-card>
  <mat-card-header>
    Detalhe da apura&ccedil;&atilde;o
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <mat-form-field  appearance="fill" class="codigoApuracao">
        <mat-label>C&oacute;digo</mat-label>
        <input matInput [ngModel]=" codigoProfissionalApuracao" readonly >
      </mat-form-field>
      <mat-form-field  appearance="fill" class="nomeProfissional">
        <mat-label>Profissional</mat-label>
        <input matInput [ngModel]="nomeProfissional" readonly >
      </mat-form-field>
      <mat-form-field   appearance="fill"  >
        <mat-label>Data Apura&ccedil;&atilde;o</mat-label>
        <input type="text" matInput [ngModel]=" dataApuracao | date: 'dd/MM/yyyy HH:mm:ss'" readonly class="AlinhaCentro">
      </mat-form-field>
      <mat-form-field   appearance="fill" >
        <mat-label>Usu&aacute;rio</mat-label>
        <input matInput [value]=" nomeUsuarioCadastro " readonly class="AlinhaCentro">
      </mat-form-field>      
      <mat-form-field   appearance="fill" class = "situacaoBaixa">
        <mat-label>Situa&ccedil;&atilde;o Baixa</mat-label>
        <input matInput [ngModel] ="situacaoBaixa" readonly >
      </mat-form-field>
      
    </div>
    <div class="container">
      <mat-form-field   appearance="fill" >
        <mat-label>In&igrave;cio do Per&igrave;odo</mat-label>
        <input matInput [ngModel]=" inicioPeriodo | date:'dd/MM/yyyy'" readonly class="AlinhaCentro">
      </mat-form-field>
      <mat-form-field   appearance="fill" >
        <mat-label>Fim do Per&igrave;odo</mat-label>
        <input matInput [ngModel] ="fimPeriodo | date:'dd/MM/yyyy'" readonly class="AlinhaCentro">
      </mat-form-field>
      <mat-form-field   appearance="fill"  >
        <mat-label>Valor Total</mat-label>
        <input matInput [ngModel]="  valorTotal | currency " readonly class="AlinharValores">
      </mat-form-field>
      <mat-form-field   appearance="fill" >
        <mat-label>Total de Agendamentos</mat-label>
        <input matInput [ngModel]=" quantidadeTotal " readonly class="AlinharValores">
      </mat-form-field>
     
    </div>
    <div style="width: 100%;">
      <table mat-table [dataSource]="listaApuracoes" class="mat-elevation-z8" matSort (matSortChange)="loadData()"
        matSortActive="{{ defaultSortColumn }}" matSortDirection="{{ defaultSortOrder }}">
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef>C&oacute;digo</mat-header-cell>
          <mat-cell *matCellDef="let apuracao"> {{ apuracao.agendaServico.codigoAgenda }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="inicio">
          <mat-header-cell *matHeaderCellDef>Data-In&iacute;cio</mat-header-cell>
          <mat-cell *matCellDef="let apuracao"> {{ apuracao.agendaServico.agenda.dataInicio | date : "dd/MM/yyyy HH:mm" }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="termino">
          <mat-header-cell *matHeaderCellDef>Data-T&eacute;rmino</mat-header-cell>
          <mat-cell *matCellDef="let apuracao"> {{ apuracao.agendaServico.agenda.dataFim | date : "dd/MM/yyyy HH:mm" }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="cliente">
          <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
          <mat-cell *matCellDef="let apuracao">{{ apuracao.agendaServico.agenda.cliente.nome }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="servico">
          <mat-header-cell *matHeaderCellDef>Servico</mat-header-cell>
          <mat-cell *matCellDef="let apuracao">{{ apuracao.agendaServico.servico.descricao}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="valorServico">
          <mat-header-cell *matHeaderCellDef>Valor do Servi&ccedil;o Total</mat-header-cell>
          <mat-cell *matCellDef="let apuracao"> {{ apuracao.agendaServico.valorServico | currency}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="valorComissaoPercentual">
          <mat-header-cell *matHeaderCellDef>Comiss&atilde;o(%)</mat-header-cell>
          <mat-cell *matCellDef="let apuracao" class="AlinharValores"> {{ apuracao.agendaServico.valorPercentualComissao | number:'1.2-2' }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="valorComissao">
          <mat-header-cell *matHeaderCellDef>Valor Comiss&atilde;o</mat-header-cell>
          <mat-cell *matCellDef="let apuracao" class="AlinharValores"> {{ (apuracao.agendaServico.valorPercentualComissao/100) * apuracao.agendaServico.valorServico | currency }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="origemComissao">
          <mat-header-cell *matHeaderCellDef>Origem - Comiss&atilde;o</mat-header-cell>
          <mat-cell *matCellDef="let apuracao" class="AlinharValores"> {{ apuracao.agendaServico.codigoComissaoOrigem == 1 ? "Profissional": "Serviço" }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: colunas"></mat-row>
      </table>
      <mat-paginator (page)="getData($event)" [length]="20" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button type="button" mat-raised-button color="primary" [routerLink]="['/profissional-apuracao']">
      Retornar &nbsp;<i class="material-icons right">reply</i>
    </button>
  </mat-card-actions>
</mat-card>