.container{
    text-align: center;
}
.container .mat-form-field + .mat-form-field {
    margin-left: 5px;
    margin-top: 5px;
  
}
table{
    width: 100%;
}
.AlinharValores{
    text-align: right;
}
.AlinhaCentro{
    text-align: center;
}
.codigoApuracao{
    width: 70px;
    text-align: right;
}
.nomeProfissional{
    width: 200px;
    
    text-align: left;
}
.situacaoBaixa{
    width:150px;
    text-align: center;
}