<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="form-group form-control container">
    <mat-card>
      <mat-card-header>Cadastro de Serviços</mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill" style="width: 150px">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" readonly />
        </mat-form-field>
        <mat-form-field class="" appearance="fill" style="width: 500px">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="Digite o nome do tipo de servico"
            id="descricao"
            formControlName="descricao"
            matTooltip="Informar o nome do tipo de serviço"
            required
          />
        </mat-form-field>
        &nbsp;
        <mat-label>Situação:</mat-label>
        &nbsp;
        <mat-radio-group
          aria-label="Situação"
          aria-labelledby="example-radio-group-label"
        >
          <mat-radio-button value="1">Ativo</mat-radio-button>
          <mat-radio-button value="2">Inativo</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
    </mat-card>
  </div>
</form>
