<mat-card>

    <mat-card-title>
        <h2>Cliente - Agenda - Pagamento</h2>
    </mat-card-title>


    <mat-card-content class="mat-typography">
        <div class="container">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
               
                <!--Serviços-->
                <div>
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align:left;">

                        <!-- Profissional Column -->
                        <ng-container matColumnDef="nomeProfissional">
                            <th mat-header-cell *matHeaderCellDef> Profissional </th>
                            <td mat-cell *matCellDef="let element"> {{element.profissional.nome}} </td>
                        </ng-container>
                        <!-- servico Column -->
                        <ng-container matColumnDef="nomeServico">
                            <th mat-header-cell *matHeaderCellDef> Servi&ccedil;o </th>
                            <td mat-cell *matCellDef="let element"> {{element.servico.descricao}} </td>
                        </ng-container>
                        <!-- valor do servico Column -->
                        <ng-container matColumnDef="valorServico">
                            <th mat-header-cell *matHeaderCellDef> Valor </th>
                            <td mat-cell *matCellDef="let element"> {{element.agendaServico.valorServico}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>
                </div>
                <!--Valor total do Servico-->
                <div>
                    <mat-form-field appearance="fill" class="campoValorAPagar">
                        <mat-label>Valor Total do Serviço</mat-label>
                        <input matInput disabled formControlName="valorTotalServico" placeholder="0.000,00">
                    </mat-form-field>
                </div>
                <!--Valor total Desconto-->
                <div class="container">

                    <mat-form-field appearance="fill" class="campoValor">
                        <mat-label>Valor Desconto</mat-label>
                        <input matInput formControlName="valorTotalDesconto" placeholder="0.000,00"
                            (keypress)="allowNumericDigitsOnlyOnKeyUp($event)" (change)="calcularValorAPagar()">
                    </mat-form-field>
                </div>
                <!--Valor total Acrescimo-->
                <div class="container">
                    <mat-form-field appearance="fill" class="campoValor">
                        <mat-label>Valor Acrescimo</mat-label>
                        <input matInput formControlName="valorTotalAcrescimo" placeholder="0.000,00"
                            (keypress)="allowNumericDigitsOnlyOnKeyUp($event)" (change)="calcularValorAPagar()">
                    </mat-form-field>
                </div>
                <!--Valor a Pagar-->
                <div class="container">
                    <mat-form-field appearance="fill" class="campoValorAPagar">
                        <mat-label>Valor a Pagar</mat-label>
                        <input matInput formControlName="valorAPagar" placeholder="0.000,00">
                    </mat-form-field>
                </div>
                 <!--Formas de Pagamento-->
                 <div [hidden]="!formasPagto">
                    <mat-form-field *ngIf="formasPagto" appearance="fill" class="comboForma">
                        <mat-label>Selecione uma forma de pagamento da lista</mat-label>
                        <mat-select matTooltip="formas" formControlName="codigoFormaPagamento">
                            <mat-option *ngFor="let option of formasPagto" [value]="option.codigoFormaPagto">
                                {{ option.descricaoFormaPagto }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--Observacao-->
                <div>
                    
                    <mat-form-field appearance="fill" class="campoObservacao">
                        <mat-label>Observação do pagamento</mat-label>
                        <input matInput formControlName="observacao">
                    </mat-form-field>
                </div>

            </form>
        </div>
    </mat-card-content>
    <mat-divider></mat-divider>

    <mat-card-actions align="end">
        <button mat-raised-button class="botaoConfirmar" [disabled]="!this.formulario.valid"
            (click)="submit()">Confirmar</button>
        <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Retornar</button>

    </mat-card-actions>
</mat-card>