<div>
  <p *ngIf="!pedidos"><em>Carregando...</em></p>
</div>
<div [hidden]="!pedidos">
  <mat-card>
    <div>
      <mat-card-header>
        <mat-label>Lista de Pedidos</mat-label>
      </mat-card-header>
    </div>
   <!--  <div  >      
        <mat-form-field [hidden]="!pedidos"style="width: 100%;" >
          <input matInput (keyup)="loadData($event.target.value)" 
                 placeholder="Pesquisar por Cliente (ou parte dele)..."
                 />
        </mat-form-field>
    </div> -->
    
    <div class="commands text-right" style="margin-top: 5px;" >
      <button mat-raised-button
            color="primary"
            [routerLink]="['pedido-form']" >
      Novo Pedido &nbsp;<i class="material-icons right">add</i>
      </button>
    </div>  
    <div>
      <mat-card-content>
         
        <!-- <mat-form-field [hidden]="!pedidos">
            <input matInput (keyup)="loadData($event.target.value)" placeholder="Pesquisar por nome do produto (ou parte dele)..." />
          </mat-form-field>     -->
        <div style="width: 100%;">
          <table mat-table [dataSource]="pedidos" class="mat-elevation-z8" [hidden]="!pedidos" matSort
            (matSortChange)="loadData()" matSortActive="{{ defaultSortColumn }}"
            matSortDirection="{{ defaultSortOrder }}">
            <ng-container matColumnDef="cliente">
              <mat-header-cell *matHeaderCellDef >Cliente</mat-header-cell>
              <mat-cell *matCellDef="let pedido"> {{ pedido.cliente.nome }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="codigo">
              <mat-header-cell *matHeaderCellDef mat-sort-header>N&ugrave;mero</mat-header-cell>
              <mat-cell *matCellDef="let pedido"> {{ pedido.numeroPedido }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="dataPedido">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Data do Pedido</mat-header-cell>
              <mat-cell *matCellDef="let pedido"><a>
                  {{ pedido.dataPedido | date:"dd/MM/yyyy HH:mm:ss"}}
                </a></mat-cell>
            </ng-container>
            <ng-container matColumnDef="valorTotal">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Valor-total</mat-header-cell>
              <mat-cell *matCellDef="let pedido"><a>{{
                  pedido.valorTotal
                  }}</a></mat-cell>
            </ng-container>
            <ng-container matColumnDef="dataCancelamento">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Data-Cancelamento</mat-header-cell>
              <mat-cell *matCellDef="let pedido">
                {{
                  pedido.dataCancelamento != null ? (pedido.dataCancelamento | date : 'dd/MM/yyyy HH:mm:ss') : ''
                }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="situacao">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Situação</mat-header-cell>
              <mat-cell *matCellDef="let pedido"><a>{{
                  pedido.situacao
                  }}</a></mat-cell>
            </ng-container>
            <ng-container matColumnDef="acao">
              <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
              <mat-cell *matCellDef="let pedido">
                <button mat-mini-fab color="primary" aria-label="Editar o pedido"
                  matTooltip="Editar o pedido"
                  [routerLink]="['/pedido', pedido.codigo]">

                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-mini-fab color="accent"
                  aria-label="Cancelar o  pedido"                                    
                  matTooltip="Cancelar todo o pedido"
                  color="warn"
                  [disabled] = "pedido.dataCancelamento != null"
                  [routerLink]="['pedido-cancelar', pedido.codigo]"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-cell>
            </ng-container>            
            <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
            <mat-row *matRowDef="let row; columns: colunas"></mat-row>
          </table>
        </div>
        <mat-paginator [hidden]="!pedidos" (page)="getData($event)" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"
          showFirstLastButtons>
        </mat-paginator>
      </mat-card-content>
    </div>
  </mat-card>
</div>