table{
    width: 100%;
}
.AlinharValores{
    text-align: right;
}
.botaoDetalhes{
    background-color: green;
    color: white;
}
.campoProfissional{
    width: 400px;
  }
  .container .mat-form-field + .mat-form-field {
    margin-left: 5px;
    margin-top: 5px;
  
  }