<div class="container">
    <h2 mat-dialog-title>Informações financeiras</h2>
    <mat-divider></mat-divider>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill" style="width:100%;">
                <mat-label>Valor de Comissão (%)</mat-label>
                <input  matInput 
                        type = "number"
                        step=".01"
                        min="0"
                        max="100"
                        formControlName="valorComissao"                        
                        placeholder="00,00"
                        matTooltip="Por favor, digite o valor percentual da comissão de cada serviço do profissional."
                        (keypress)="allowNumericDigitsOnlyOnKeyUp($event)" />
            </mat-form-field>            
            <app-msg-error
                [mostrarErro]="formulario.get('valorComissao').hasError('max')"
                mensagemErro="Por favor, verificar! O valor m&aacute;ximo permitido é de 100%"
          ></app-msg-error>
        </form>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
        <button mat-raised-button="Salvar o registro" 
                color="primary" 
                (click)="submit()"
                [disabled] = "!formulario.valid"
                >
            Salvar &nbsp;<mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="primary" mat-dialog-close>
            Retornar &nbsp;<i class="material-icons right">reply</i>
        </button>
    </mat-dialog-actions>
</div>