<div>
    <mat-card>
        <mat-card-title style="text-align: left;">
            <h2>Agendamento de Serviços</h2>
        </mat-card-title>
        <mat-card-content>            
            <table>
                <caption></caption>
                <th></th>
                <tbody>
                    <tr>
                        <td style="width:10%">                       
                            <button mat-raised-button
                                    color="primary"                                
                                    [routerLink]="['agenda-novo']"
                                    >
                                    Novo Agendamento &nbsp;<i class="material-icons right">add</i>
                            </button>
                        </td>
                    <td class="titulo_dia_selecionado">
                        <label><b>Data Selecionada:</b></label><b> {{selected | date: 'dd/MM/yyyy' }}</b>
                    </td>
                    <td style="text-align:right;">
                            <b>Legendas dos hor&aacute;rios:</b>&nbsp;
                            <a  mat-stroked-button class ="hora_agendada_pendente"> Pendente</a>
                            <a  mat-stroked-button class ="hora_agendada_concluido"> Concluido </a> 
                            <a  mat-stroked-button class ="hora_agendada_cancelado"> Cancelado </a>
                    </td>
                    </tr>
                    <tr>
                        <td style="width:10%" >
                            <mat-calendar class="demo-inline-calendar-card" [(selected)]="selected" (selectedChange)="obterAgendas()"></mat-calendar>
                        </td>
                        <td  colspan="2" style="vertical-align: top;">
                            <table>
                                <caption></caption>
                                <thead>   
                                    
                                    <tr class="titulo_lista">                                    
                                        <th id="head_lista" [attr.colspan]="qtdeColunasProfissionais">Lista de Horários - Agenda</th>
                                    </tr>            
                                    <tr>                                                            
                                        <th id = "nome_profissional" *ngFor="let profissional of listaProfissionais" class="titulo_lista">{{profissional.nome}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>                         
                                        <td  *ngFor="let agendaProfissional of listaAgendasDia" class="celulasAgenda">
                                            <table>
                                                <caption></caption>
                                                <th></th>
                                                <tbody>
                                                    <tr *ngFor="let agenda of agendaProfissional.listaAgenda">                                                
                                                    <a mat-stroked-button (click) = 'openDialogOperacao(agenda)' [class]="agenda.css" >
                                                        {{ agenda.data | date: 'HH:mm' }} - {{ agenda.cliente.nome}}
                                                    </a>                                               
                                                    </tr>
                                                </tbody>
                                            </table>                                         
                                        </td>
                                    </tr>                                
                                </tbody>
                            
                            </table>
                        </td>                    
                    </tr>
                </tbody>
            </table>
            
            
            
        </mat-card-content>
    </mat-card>

</div>