<div>
    <mat-card>
        <mat-card-title style="text-align: left;">
            <h2>Agendamento de Serviços</h2>
        </mat-card-title>
        <mat-card-content>            
            <table>
                <tr>
                    <td style="width:10%">                       
                        <button mat-raised-button
                                color="primary"                                
                                [routerLink]="['agenda-novo']"
                                >
                                Novo Agendamento &nbsp;<i class="material-icons right">add</i>
                        </button>
                    </td>
                   <td >
                     <label><b>Data Selecionada:</b></label><b> {{selected | date: 'dd/MM/yyyy' }}</b>
                   </td>
                </tr>
                <tr>
                    <td style="width:10%" >
                        <mat-calendar class="demo-inline-calendar-card" [(selected)]="selected" (selectedChange)="obterAgendas()"></mat-calendar>
                    </td>
                    <td style="vertical-align: top;">
                        <table [class.mat-elevation-z8]="true">
                            <thead  >                    
                                <tr class="titulo_lista">                                    
                                    <th [attr.colspan]="qtdeColunasProfissionais">Lista de Horários - Agenda</th>
                                </tr>            
                                <tr>                                                            
                                    <th *ngFor="let profissional of listaProfissionais" class="titulo_lista">{{profissional.nome}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>                         
                                    <td  *ngFor="let links of listaLinksAgenda" class="celulasAgenda">
                                        {{ links }}
                                    </td>
                                </tr> 
                            </tbody>
                        </table>
                    </td>
                </tr>
            </table>
            
            
            
        </mat-card-content>
    </mat-card>

</div>