.demo-inline-calendar-card {
    width: 200px;
  }

  .container .mat-form-field + .mat-form-field {
    margin-left: 5px;
    margin-top: 5px;
  
  }
  mat-card-title{
    background-color: #3f51b5;
    color: white;
  }
  .example-container {
    height: 400px;
    overflow: auto;
  }
  .dataSelecionada{
    text-align: left;
    background-color: #3f51b5;
    color:white;
  }
  .titulo_lista{
    text-align: center;
    background-color: #3f51b5;
    color:white;
    font-size: medium;
  }
  .hora_agendada_pendente{
    background-color: #3f51b5;
    color:white;
    /* font-weight: bold; */
  }
  .hora_agendada_concluido{
    background-color: green;
    color:white;
    /* font-weight: bold; */
  }
  .hora_agendada_cancelado{
    background-color: red;
    color:white;
    /* font-weight: bold; */
  }
  .titulo_dia_selecionado{
    text-align: center;
    font-size: medium;
  }
  .legenda_horarios{
    text-align: right;
    width: 100%;
  }
  table {
    width: 100%;
  }
  .celulasAgenda{
    color: black;
    text-align: center;
    /* font-weight: bold; */
    font-size: medium;

  }
 /*  table, th, td {    
    border: 1px solid #3f51b5;
    border-collapse: collapse;
  }  
  th {
    background-color: white;
    color: #3f51b5;
  }  */