<h2 mat-dialog-title class="titulo">Agendamento - baixa</h2>

<mat-dialog-content class="mat-typography">    
        <div>
            <mat-form-field appearance="fill" class="campoNomeCliente">
                <mat-label>Cliente</mat-label>
                <input matInput [ngModel]="agenda.nomeCliente" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo-DataHora">
                <mat-label>Data</mat-label>
                <input matInput [ngModel]="agenda.dataString" readonly>
            </mat-form-field>

            <mat-form-field appearance="fill" class="campoHora">
                <mat-label>Hora</mat-label>
                <input matInput [ngModel]="agenda.hora" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill" class="campoSituacao">
                <mat-label>Situa&ccedil;&aacute;o</mat-label>
                <input matInput [ngModel]="situacaoAgendamento" readonly>
            </mat-form-field>
        </div>        
        <div>
            <mat-form-field appearance="fill" class="campoNomeProfissional">
                <mat-label>Profissional</mat-label>
                <input matInput [ngModel]="agenda.nomeProfissional" readonly>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill" class="campoDescricaoServico">
                <mat-label>Servi&ccedil;os</mat-label>
                <input matInput [ngModel]="agenda.descricaoServico" readonly>
            </mat-form-field>
        </div>
        <div style="width: 100%;">
            <mat-form-field appearance="fill" class="observacao" >
                <mat-label>Observa&ccedil;&atilde;o</mat-label>
                <textarea matInput #message maxlength="300" placeholder="Digite uma observação" cdkTextareaAutosize
                [ngModel]="agenda.observacao" readonly></textarea>
                <mat-hint align="start"><strong>Por favor, digite apenas a quantidade permitida.</strong>
                </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="statusBaixado">
            <mat-form-field appearance="fill" class="campo-data-hora-baixa">
                <mat-label>Data-Baixa</mat-label>
                <input matInput [ngModel]="agenda.dataBaixa | date:'dd/MM/yyyy HH:mm':'pt'" readonly>
            </mat-form-field>
            <mat-form-field appearance="fill" class="campo-usuario-baixa">
                <mat-label>Usu&aacute;rio-Baixa</mat-label>
                <input matInput [ngModel]="agenda.nomeUsuarioBaixa" readonly>
            </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <h3  mat-dialog-title class="titulo_valores">Valores</h3>
        
        <div class="container">           
            <mat-form-field appearance="fill" class="campoValores">
                <mat-label>Valor do Servi&ccedil;o</mat-label>
                <input matInput [ngModel]="agenda.valorServico" 
                      class="alinharADireita" 
                      readonly 
                      [value]=" agenda.valorServico | number : '1.2-2':'pt'">
            </mat-form-field>                 
            <mat-form-field appearance="fill" class="campoValores">
                <mat-label>Valor de Acr&eacute;cimo</mat-label>
                <input matInput 
                    class="alinharADireita"
                    [(ngModel)]="agenda.valorAcrescimo"                    
                    autocomplete="off"
                    placeholder="Digite o valor de acréscimo do serviço"
                    placeholder="0.000,00"                     
                    (keypress)="allowNumericDigitsOnlyOnKeyUp($event)" 
                    (input)="calcularSaldo()"                    
                    [readonly]="statusBaixado">
            </mat-form-field>        
            <mat-form-field appearance="fill" class="campoValores">
                <mat-label>Valor de Desconto</mat-label>
                <input matInput 
                    class="alinharADireita" 
                    [(ngModel)]="agenda.valorDesconto" 
                  
                    autocomplete="off"
                    placeholder="Digite o valor desconto do serviço"
                    placeholder="0.000,00"                     
                    (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"
                    (input)="calcularSaldo()"                    
                    [readonly]="statusBaixado">                
            </mat-form-field>    
            <mat-form-field appearance="fill" class="campoValores">
                <mat-label>Saldo Final</mat-label>
                <input matInput 
                    class="alinharADireita" 
                    [ngModel]="saldoFinal"                   
                    autocomplete="off"                    
                    placeholder="0.000,00"                     
                    (keypress)="allowNumericDigitsOnlyOnKeyUp($event)"
                    [readonly]="statusBaixado">                
            </mat-form-field>  
            <mat-form-field *ngIf="optionFormaPagamento" appearance="fill" class="campoFormaPagamento">
                <mat-label>Selecione a forma de pagamento</mat-label>
                <mat-select [(ngModel)]="agenda.codigoFormaPagamento" matTooltip="Selecione uma forma de pagamento" required>
                    <mat-option *ngFor="let forma of optionFormaPagamento" [value]="forma.codigoFormaPagto">
                        {{ forma.descricaoFormaPagto }}
                    </mat-option>
                </mat-select>
            </mat-form-field>  
            <mat-form-field appearance="fill" class="campoObservacaoBaixa" >
                <mat-label>Observa&ccedil;&atilde;o</mat-label>
                <textarea matInput #message maxlength="300" placeholder="Se precisar informar uma observação de baixa" cdkTextareaAutosize
                [ngModel]="agenda.observacaoBaixa" [readonly]="statusBaixado"></textarea>
                <mat-hint align="start"><strong>Por favor, digite apenas a quantidade permitida.</strong>
                </mat-hint>
                <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
            </mat-form-field> 
        </div>   
    <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" mat-dialog-close>Retornar</button>
    <button mat-raised-button color="primary" class ="botaoBaixar" [disabled] = "!statusPendente" (click)="baixar()" cdkFocusInitial>Baixar</button>
</mat-dialog-actions>