<mat-card>
  <mat-card-title> Cadastro de Pedidos - {{ tituloPagina }} </mat-card-title>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="container">
      <mat-form-field appearance="fill" style="width: 70px">
        <mat-label>Código</mat-label>
        <input matInput formControlName="codigoPedido" readonly />
      </mat-form-field>
      <mat-form-field *ngIf="clientes" appearance="fill" style="width: 300px">
        <mat-label>Selecione o cliente</mat-label>
        <mat-select formControlName="codigoCliente" matTooltip="codigo do cliente" required>
          <mat-option *ngFor="let cliente of clientes" [value]="cliente.codigo">
            {{ cliente.codigo }} - {{ cliente.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Data-Pedido</mat-label>
        <input matInput readonly [value]=" dataPedido | date:'dd/MM/yyyy HH:mm:ss' " />
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Quantidade - Total</mat-label>
        <input matInput readonly [value] = " quantidadeTotal "/>
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Valor - Total</mat-label>
        <input matInput readonly [value] = "valorTotal  | currency:'BRL':'symbol':'1.2-2':'pt' "/>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Data-Fechamento</mat-label>

        <input matInput readonly [value]="dataFechto !== ' ' ? '' : dataFechto  | date:'dd/MM/yyyy HH:mm:ss' " />

      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Situação</mat-label>
        <input matInput formControlName="situacao" readonly />
      </mat-form-field>

      <!--         <app-msg-error
            [mostrarErro]="
            formulario.get('nome').invalid &&
            formulario.get('nome').hasError('required')
            "
            mensagemErro="Por favor, digite o nome completo! " >
        </app-msg-error>
 -->

    </div>
    
    <div class="container">
      <mat-form-field appearance="fill" class="observacao">
        <mat-label>Observação</mat-label>
        <textarea
          matInput
          formControlName="observacao"
          maxlength="300"
          placeholder="campo disponível para digitar (máximo 300 caracteres) alguma observação..."
          matTooltip="Digite aqui caso precise informar alguma observação do cliente."
        ></textarea>
      </mat-form-field>
    </div>
    
    <div class="container">
      <mat-form-field  appearance="fill" style="width: 300px">
        <mat-label>Selecione um Produto</mat-label>
        <mat-select 
                    matTooltip="lista de produtos" 
                    [disabled]="formulario.get('situacao').value !='Aberto'" 
                    (selectionChange)="preencherValorProdutoSelecionado($event.value)">
          <mat-option *ngFor="let produto of produtos" [value]="produto.codigo">
            {{ produto.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor Produto</mat-label>             
        <input
          matInput                                       
          class="right-align"                         
          [(ngModel)] = "valorProdutoSel"    
          [ngModelOptions]="{standalone: true}"          
          placeholder="Valor do produto"
          placeholder="0.000,00"                                       
                                    
        />
        <!-- <span matPrefix>R$&nbsp;</span> -->
        <!-- <span matSuffix>,00</span> -->
      </mat-form-field>  
      <mat-form-field appearance="fill"  style="text-align: right;">
        <mat-label>Quantidade</mat-label>             
        <input 
          [(ngModel)] = "quantidadeProdutoSel"   
          [ngModelOptions]="{standalone: true}"
          matInput                                       
          type="number"
          step="1"
          min="0"
          autocomplete="off"
          class="right-align"               
          placeholder="Digite a quantidade total comprada"  
          matTooltip="Quantidade de produto(s)" 
          [disabled]="formulario.get('situacao').value !='Aberto'"                             
        />                
        <!-- <span matSuffix>,00</span> -->
      </mat-form-field> 
      &nbsp;
      <button mat-raised-button color="primary" 
            [disabled]="formulario.get('situacao').value !='Aberto'"
            (click)="adicionarListaItem()"              
              >
        Adicionar Item &nbsp;<i class="material-icons right">add</i>
      </button>
      
    </div>
    <div class="form-group mat-container">
      <div style="width: 100%;">
        <table mat-table [dataSource]="itensPedido" class="mat-elevation-z8" [hidden]="!itensPedido" matSort
          (matSortChange)="loadData()" matSortActive="{{ defaultSortColumn }}"
          matSortDirection="{{ defaultSortOrder }}">
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>N&ugrave;mero</mat-header-cell>
            <mat-cell *matCellDef="let item"> {{ item.codigo }} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            
          </ng-container>
          <ng-container matColumnDef="produto">
            <mat-header-cell *matHeaderCellDef >Produto</mat-header-cell>
            <mat-cell *matCellDef="let item">
              {{ item.produto.nome }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="valor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>valor-unit&agrave;rio</mat-header-cell>
            <mat-cell *matCellDef="let item">{{
              item.valorVenda | currency:'BRL':'symbol':'1.2-2':'pt'
              }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef>Total</mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="quantidade">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade-total</mat-header-cell>
            <mat-cell *matCellDef="let item"><a>{{
                item.quantidade
                }}</a>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{ getQuantidadeTotal() }} </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="subTotal">
            <mat-header-cell *matHeaderCellDef mat-sort-header>total</mat-header-cell>
            <mat-cell *matCellDef="let item"><a>{{
                (item.quantidade * item.valorVenda) | currency:'BRL':'symbol':'1.2-2':'pt'
                }}</a>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{getValorTotal() | currency:'BRL':'symbol':'1.2-2':'pt'}}</mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="acao">
            <mat-header-cell *matHeaderCellDef>Ação</mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button mat-mini-fab 
                color="warn" 
                aria-label="apagar item do pedido" 
                [disabled]="formulario.get('situacao').value !='Aberto'"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="colunas"></mat-header-row>
          <mat-row *matRowDef="let row; columns: colunas"></mat-row>
          <mat-footer-row *matFooterRowDef="colunas"></mat-footer-row>
        </table>
      </div>
      <mat-paginator [hidden]="!itensPedido" (page)="getData($event)" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </form>
</mat-card>