<mat-card>
  <mat-card-title> Cadastro de Pedidos - {{ tituloPagina }} </mat-card-title>
  <div class="container">
    <mat-divider></mat-divider>
  </div>
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="container">
      <mat-form-field appearance="fill" style="width: 70px">
        <mat-label>N&uacute;mero</mat-label>
        <input matInput formControlName="numeroPedido" readonly />
      </mat-form-field>
      <mat-form-field *ngIf="clientes" appearance="fill" style="width: 300px">
        <mat-label>Selecione o cliente</mat-label>
        <mat-select formControlName="codigoCliente" matTooltip="codigo do cliente" required>
         <!--  <mat-option [value]="0"></mat-option> -->
          <mat-option *ngFor="let cliente of clientes" [value]="cliente.codigo">
            {{ cliente.codigo }} - {{ cliente.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Data-Pedido</mat-label>
        <input matInput readonly [value]=" dataPedido | date:'dd/MM/yyyy HH:mm:ss' " />
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Quantidade - Total</mat-label>
        <input matInput readonly [value] = " quantidadeTotal "/>
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Valor - Total</mat-label>
        <input matInput readonly [value] = "valorTotal  | currency:'BRL':'symbol':'1.2-2':'pt' "/>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Data-Fechamento</mat-label>

        <input matInput readonly
             
               [value]="dataFechto == null ? '' : dataFechto | date: 'dd/MM/YYYY'  " />

      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 250px">
        <mat-label>Situação</mat-label>
        <input matInput formControlName="situacao" readonly
          />
      </mat-form-field>

      <!--         <app-msg-error
            [mostrarErro]="
            formulario.get('nome').invalid &&
            formulario.get('nome').hasError('required')
            "
            mensagemErro="Por favor, digite o nome completo! " >
        </app-msg-error>
 -->

    </div>
    
    <div class="container">
      <mat-form-field appearance="fill" class="observacao">
        <mat-label>Observação</mat-label>
        <textarea
          matInput
          formControlName="observacao"
          maxlength="300"
          placeholder="campo disponível para digitar (máximo 300 caracteres) alguma observação..."
          matTooltip="Digite aqui caso precise informar alguma observação do cliente."          
        ></textarea>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-divider></mat-divider>
    </div>
    <!-- Informações sobre o cancelamento-->
    <div class="container">
      <mat-form-field appearance="fill" >
        <mat-label>Cancelamento em:</mat-label>
        <input matInput 
          readonly 
          formControlName = "dataCancelamento"    />
      </mat-form-field>      
    </div>
    
    <div class="container">
      
      <mat-form-field appearance="fill" class="motivoCancelamento" >
        <mat-label>motivo do cancelamento</mat-label>
        <textarea
          matInput
          formControlName="motivoCancelamento"
          maxlength="300"          
          placeholder="Informações sobre o cancelamento do pedido"
          matTooltip="Detalhes do motivo do cancelamento do pedido"
          readonly
        ></textarea>
      </mat-form-field>
    </div>
    <div class="container">
      <mat-divider></mat-divider>
    </div>
    <!--Adicionar novos itens-->
    <div class="container" disabled ="formulario.get('situacao').value !='Aberto'"  >
      <mat-form-field  appearance="fill" style="width: 300px"
      >
        <mat-label>Selecione um Produto</mat-label>
        <mat-select 
                    [formControlName]="'codigoProdutoSelecionado'"
                    matTooltip="lista de produtos"                     
                    (selectionChange)="preencherValorProdutoSelecionado($event.value)">
          <mat-option [value]="0"></mat-option>
          <mat-option *ngFor="let produto of produtos" [value]="produto.codigo">
            {{ produto.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor Produto</mat-label>             
        <input
          matInput                                       
          class="right-align"                         
          [(ngModel)] = "valorProdutoSel"    
          [ngModelOptions]="{standalone: true}"          
          placeholder="Valor do produto"
          placeholder="0.000,00"                                       
          [disabled]="formulario.get('situacao').value !='Aberto' "                            
        />
        <!-- <span matPrefix>R$&nbsp;</span> -->
        <!-- <span matSuffix>,00</span> -->
      </mat-form-field>  
      <mat-form-field appearance="fill"  style="text-align: right;">
        <mat-label>Quantidade</mat-label>             
        <input 
          [(ngModel)] = "quantidadeProdutoSel"   
          [ngModelOptions]="{standalone: true}"
          matInput                                       
          type="number"
          step="1"
          min="0"
          autocomplete="off"
          class="right-align"               
          placeholder="Digite a quantidade total a adicionar"  
          matTooltip="Quantidade de produto(s)" 
          [disabled]="formulario.get('situacao').value !='Aberto'"             
        />                
        <!-- <span matSuffix>,00</span> -->
      </mat-form-field> 
      &nbsp;
      <button mat-raised-button color="primary" 
            id="btnAdicionarProduto"
            [disabled]="formulario.get('situacao').value !='Aberto' || !formulario.valid "
            (click)="adicionarListaItem()"              
              >
        Adicionar Item &nbsp;<i class="material-icons right">add</i>
      </button>
      
    </div>
    <div class="container">
      <mat-divider></mat-divider>
    </div>
    <div class="form-group mat-container">
      <div style="width: 100%;">
        <table class="mat-elevation-z8">
          <thead class = "itemPedidoTabela">
            <tr>
              <th>Produto</th>
              <th>Valor-Venda</th>
              <th>Quantidade</th>
              <th>Valor-Total</th>
              <th>Ações</th>
            </tr>            
          </thead>          
          <tbody *ngIf="itensPedidos2" style="text-align: center;" > 
              <tr  *ngFor="let item of  itensPedidos2" >
                <td>{{item.produto.nome}}</td>
                <td>{{item.valorVenda | currency:'BRL':'symbol':'1.2-2':'pt'}}</td>
                <td>{{item.quantidade}}</td>                
                <td>{{(item.valorVenda * item.quantidade)  | currency:'BRL':'symbol':'1.2-2':'pt'}}</td>                
                <td>
                  <button mat-raised-button color="warn"
                    [disabled]="formulario.get('situacao').value !='Aberto'"                    
                    (click) = "removeListaItem(item.codigoProduto)"
                    >Remover Item &nbsp;<i class="material-icons right">remove</i>
                  </button>
                  <!-- <button mat-mini-fab 
                  color="warn" 
                  aria-label="apagar item do pedido" 
                                    [disabled]="formulario.get('situacao').value !='Aberto'"
                  
                  >
                    <mat-icon>delete</mat-icon>
                  </button> -->
                </td>
              </tr>
          </tbody>          
        </table>
      </div>
      <!-- botoes *********************************************************************************************************-->
      <div style="margin-top: 10px">
        <table>
          <tr>              
            <td  style="text-align: left;">
                <button        
                id="btnSalvar"                         
                mat-raised-button
                color="primary"
                [disabled]="!formulario.valid || formulario.get('situacao').value !='Aberto'"
                (click)="submit()"
              >
                Salvar &nbsp;<i class="material-icons right">save</i>
              </button>              
              &nbsp;
              <button mat-raised-button color="primary" (click)="dialogBaixaPagto()"
                [disabled]="formulario.get('situacao').value !='Aberto' || !formulario.valid || quantidadeTotal == 0"
                type="button">
                Salvar e baixar pagamento &nbsp;<i class="material-icons right">paid</i>
              </button>
              &nbsp;
              <button mat-raised-button color="accent" (click)="limparCampos()"
              [disabled]="formulario.get('situacao').value !='Aberto' || !formulario.valid"
              >
                Limpar Campos &nbsp;<i class="material-icons right">backspace</i>
              </button>            
              &nbsp;
              <button mat-raised-button color="primary" (click)="retornar()">
                Retornar &nbsp;<i class="material-icons right">reply</i>
              </button>            
            </td>
          </tr>
        </table>
      </div>   
    </div>
  </form>
   
</mat-card>