table{
  margin-top:10px;
  width:100%;
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  border : 1px solid black;
}
mat-card{
  background-color:lightsteelblue;
  color: whitesmoke;
  padding:5px ;
}

mat-card-header{
  text-align: center;
  font-size: large;
  height: 30px;
  background-color: lightsteelblue;
  color: white;
  vertical-align: middle;
}

mat-card-subtitle{
  margin-left: 5px;
  margin-top: 5px;
}

mat-card-content{
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;
  color: black;
  text-align: center;
}
.button-row button,
.button-row a {
  margin-right: 8px;
  width: 100px;
  text-align: left;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
