<div class = "cliente-edit">
    <div class="mat-elevation-z8">
        <label style ="background-color:skyblue; color:#000000; text-align: left;font-size: 20px;" class= "form-control"><b>Cadastro de Cliente - {{title}}</b></label>    
    </div>
    <p *ngIf= "this.codigo && !cliente"><em>Carregando...</em></p>
    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        

        <div  class="form-group">
            <div *ngIf="form.invalid && form.errors?.isDupeCliente" class="alert alert-danger">
                <strong>ERROR</strong>:
                O cliente com o mesmo <b><i>NOME</i></b>&nbsp; já existe!
            </div> 
            <table class="table">
                <tr>                    
                    <td>
                        <label>C&oacute;digo</label>
                        <label class="form-control" id="codigo" name="codigo" formcontrol="codigo">{{codigo}}</label>
                    </td>
                    <td style="width:80%;">
                        <label  for = "nome">Nome:</label>                        
                        <input type="text" id="nome"
                                formControlName="nome" 
                                required
                                placeholder="Nome do cliente....."
                                class="form-control"/>
                        
                        
                        <div *ngIf="hasError('nome')"
                             class="invalid-feedback">
                             <div *ngIf="form.get('nome').errors?.required">
                                Por favor, informar o nome
                             </div>
                        </div>
                             
                    </td>
                    
                    <td style="width:10%;">

                        <label for= "dataaniversario">Anivers&agrave;rio</label>                       
                        <input type="text" id="dataaniversario"                    
                                formControlName="dataaniversario"                     
                                class="form-control"                    
                                value = "{{aniversarioformatado|date:'dd/MM/yyyy'}}"
                                placeholder="Digite no formato dia/mes/ano.Exemplo: 01/01/{{anoCorrente.toString()}}" />       
                    </td>
                    
                    <td style="width:10%;" >    
                        <div>
                            <label for= "optionSituacao">Status</label>          
                            <mat-form-field *ngIf="optionSituacao" >                            
                                <mat-label>Selecione da lista</mat-label>                            
                                <mat-select id="codigoSituacao" formControlName="codigoSituacao" >
                                    <mat-option *ngFor="let option of optionSituacao"
                                      [value] = "option.value" >
                                      {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>                        
                         
                       <div *ngIf="hasError('statusId')"
                             class="invalid-feedback" >
                             <div *ngIf="form.get('statusId').errors?.required">
                                Por favor, selecione um status.
                             </div>
                        </div>
                    </td>
                </tr>   
                   
            </table>
        </div>
        <div  class="form-group">
            <table class="table">
                <tr>
                    <td style="width: 30%;">
                        <label  for = "descricao">Endereço:</label>                        
                        <input 
                                 type="text" id="descricao"
                                formControlName="descricao"                                 
                                placeholder="Rua,Avenida etc do cliente....."
                                class="form-control"/>
                         
                    </td>
                    <td style="width: 5%;">
                        <label  for = "numero">Número:</label>                        
                        <input type="text" id="numero"
                                formControlName="numero"                                                                 
                                class="form-control"/>
                    </td>
                    <td style="width: 20%;">
                        <label  for = "bairro">Bairro:</label>                        
                        <input type="text" id="bairro"
                                formControlName="bairro"                                                                 
                                class="form-control"/>
                    </td>
                    <td style="width: 15%;">
                        <label  for = "complemento">Complemento:</label>                        
                        <input type="text" id="complemento"
                                formControlName="complemento"                                                                 
                                class="form-control"/>
                    </td>
                    <td style="width: 10%;">                    
                        <label  for = "cep">Cep:</label>                        
                        <input type="text" id="cep"
                                formControlName="cep"                                                                 
                                class="form-control"/>
                       
                        <div *ngIf="hasError('cep')"
                            class="invalid-feedback" >
                            <span *ngIf="form.get('cep').errors?.pattern">
                               Por favor, informar somente números.
                            </span>  
                            <br />
                            <span *ngIf="form.get('cep').errors?.max">
                                Por favor, informar o máximo de 9 caracteres. 
                            </span>                       
                        </div>
                    </td>
                    <td>                        
                        <label for= "codigoUnidadeFederativa">Estado</label> 
                        <br />
                        <mat-form-field *ngIf="unidadeFederativas" >                            
                            <mat-label>Selecione um Estado</mat-label>                       
                             <mat-select formControlName="codigoUnidadeFederativa" [(ngModel)]="cod_unida_fed" (ngModelChange)="onSelected_UF()" >
                                <mat-option *ngFor="let estado of unidadeFederativas"
                                  [value] = "estado.codigo" >
                                  {{estado.sigla}} - {{estado.descricao}}
                                </mat-option>
                            </mat-select>
                            <br />
                           
                        </mat-form-field>
                        <br />
                         <label>{{codigoEstadoSelecionado}}</label>                 
                    </td>

                    <td>
                        <label for= "codigoUF">Municipio</label> 
                        <br />
                        <mat-form-field >
                            <mat-label>Selecione um municipio</mat-label>   
                            <mat-select id = "codigoMunicipio" 
                                        formControlName="codigoMunicipio">
                                <mat-option *ngFor="let municipio of municipios"
                                  [value] = "municipio.codigo" >
                                   {{municipio.descricao}}
                                </mat-option>
                            </mat-select>
                            <br />
                           
                        </mat-form-field>
                        <br />
                        
                    </td>
                </tr>          
            </table>
            
        </div>
        <div class="form-group">
           
            <table class ="table">
                <tr>
                    <td>
                        <label for= "enderecoEmail">E-mail</label>                       
                        <input type="text" id="email"                    
                                formControlName="email"                     
                                class="form-control"   
                                placeholder="Digite um e-mail válido" />   
                            
                        <div *ngIf="hasError('email')"
                             class="invalid-feedback">
                             <div *ngIf="form.get('email').errors?.email">
                                Por favor, informar um e-mail valido
                             </div>
                        </div>
                    </td>
                    <td style="width:5%;">
                        <label for ="dddFixo">DDD</label>
                        <input type="text"
                               id="dddFixo"
                               class="form-control"   
                               formControlName="dddFixo"
                               min="0" 
                               max="99"
                               />
                                <!--validação do campo-->                                
                                <div *ngIf="form.get('dddFixo').errors?.required" class="invalid-feedback" >
                                    Por favor, digite o DDD do telefone fixo
                                </div>
                               
                        
                    </td>
                    <td >
                        <label for= "telefoneFixo">Telefone-Fixo</label>                       
                        <input type="text" id="telefoneFixo"                    
                                formControlName="telefoneFixo"                     
                                class="form-control"   
                                placeholder="Digite o numero de telefone fixo"
                                (ngModelChange)="validarDDDFixo()" />   

                        <!--validação do campo-->
                        <div *ngIf="hasError('telefoneFixo')"
                                class="invalid-feedback" >
                                
                            <span *ngIf="form.get('telefoneFixo').errors?.pattern">
                                Por favor, informar somente números.
                            </span>  
                            <br />
                            <span *ngIf="form.get('telefoneFixo').errors?.max">
                                Por favor, informar o máximo de 9 caracteres. 
                            </span>                                                   
                           
                        
                        </div>
                    </td>
                    <td style="width:5%;">
                        <label for ="dddCel">DDD</label>
                        <input type="text"
                               id="dddCel"
                               class="form-control"   
                               formControlName="dddCel"
                               />
                                <!--validação do campo-->                                 
                                <!--campo vazio-->                              
                                <span *ngIf="form.get('dddCel').errors?.required" class="invalid-feedback" min="0" max="99" >
                                    Por favor, digite o DDD do celular
                                </span>
                                <span *ngIf="form.get('dddCel').errors?.max" class="invalid-feedback" >
                                    Por favor, informar o máximo de 2 caracteres. 
                                </span>  
                                
                        
                    </td>
                    <td>
                        <label for= "celular">Celular</label>                       
                        <input type="text" id="celular"                    
                                formControlName="celular"                     
                                class="form-control"   
                                placeholder="Digite o numero do celular"
                                (ngModelChange)="validarDDDCelular()" />  
                                
                        <!--validação do campo-->
                        
                        
                            <span *ngIf="form.get('celular').errors?.pattern" class="invalid-feedback" >
                                Por favor, informar somente números.
                            </span>  
                            <br />
                            <span *ngIf="form.get('celular').errors?.max" class="invalid-feedback" >
                                Por favor, informar o máximo de 10 caracteres. 
                            </span>                       
                            
                    </td>
                    <td>
                        <label for= "numeroRG">R.G.</label>                       
                        <input type="text" id="numeroRG"                    
                                formControlName="numeroRG"                     
                                class="form-control"   
                                placeholder="Digite o numero do R.G." />   
                    </td>
                    <td>
                        <label for= "numeroCPF">C.P.F.</label>                       
                        <input type="text" id="numeroCPF"                    
                                formControlName="numeroCPF"                     
                                class="form-control"   
                                placeholder="Digite o numero do C.P.F." />   
                    </td>
                </tr>
            </table>
            
        </div>
        <div  class="form-group commands">
            <button type="submit"
                (click)="onSubmit()"
                class="btn btn-success"
                [disabled]="form.invalid">
                Salvar
            </button> 
            &nbsp;           
            <button type="button"
                (click)="onDelete()"
                class="btn btn-danger"
                [disabled]="form.invalid"
                *ngIf="codigo">

                Apagar
            </button> 
            &nbsp;
            <button type="submit"
                [routerLink]="['/cliente']"
                class="btn btn-primary">
                Cancelar
            </button>
        </div>
    </div>   
</div>
