<div class = "cliente-edit">
    <h1>{{title}}</h1>

    <p *ngIf= "this.codigo && !cliente"><em>Carregando...</em></p>

    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
         
        <div class="form-group">
            <!--
                <div class="form-group" [ngClass] ="{'has-error has-feedback':hasError('nome')}">
            -->

            <label for = "nome">Nome:</label>
            <br />
            <input type="text" id="nome"
                    formControlName="nome" required
                    placeholder="Nome do cliente....."
                    class="form-control"/>
            
                <div *ngIf="form.get('nome').invalid && (form.get('nome').dirty||form.get('nome').touched)"
                     class="invalid-feedback">
                    
                </div>            
        </div>

        <div class="form-group">
            <!--
                <div class="form-group"[ngClass]="{'has-error has-feedback':hasError('name')}">
            -->
            <label for= "aniversario">Anivers&agrave;rio:</label>
            <br />
            <input type="text" id="aniversario"                    
                    formControlName="aniversario"                     
                    class="form-control"                    
                    value = "{{aniversarioformatado|date:'dd/MM/yyyy'}}"
                    placeholder="Digite no formato dia/mes/ano.Exemplo: 01/01/{{anoCorrente.toString()}}" />       

        </div>
        <div  class="form-group commands">
            <button type="submit"
                (click)="onSubmit()"
                class="btn btn-success"
                [disabled]="form.invalid">
                Salvar
            </button> 
            &nbsp;           
            <button type="button"
                (click)="onDelete()"
                class="btn btn-danger"
                [disabled]="form.invalid"
                *ngIf="codigo">

                Apagar
            </button> 
            &nbsp;
            <button type="submit"
                [routerLink]="['/cliente']"
                class="btn btn-primary">
                Cancelar
            </button>
        </div>
    </div>
</div>
