table{
  margin-top:10px;
  width:100%;
  border: 1px solid black;
  border-collapse: collapse;
}


th, td {
  padding: 5px;
  border : 1px solid black;
}
mat-form-field{
  font-size: 14px;
  width: 100%;
}
mat-card-header{
  text-align: center;
  font-size: large;
  height: 30px;
  background-color: lightsteelblue;
  color: black;
  vertical-align: middle;
}
mat-card-subtitle{
  margin-left: 5px;
  margin-top: 5px;
}
mat-card-content{
  margin-left: 5px;
  margin-top: 5px;
  background-color: white;

 // text-align: center;
}

