<div class="container">
    <mat-card>
        <mat-card-title class="titulo">
            Agendar - Serviço
        </mat-card-title>
        <mat-card-content>

            <form [formGroup]="formulario" (ngSubmit)="submit()">
                <div>
                    <input readonly class="mensagemFuncionamento" value="O horário de funcionamento do estabelecimento : {{horaInicioDefault}} &agrave; {{ horaFimDefault}}">
                </div>
                <div>
                    <mat-form-field appearance="fill" class="campo-DataHora">
                        <mat-label>Data</mat-label>
                        <input matInput type="date" formControlName="dataAgenda" required>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill"  class="campoHora" >
                        <mat-label>Hora</mat-label>
                        <input matInput type="time" 
                              formControlName="horaAgenda"               
                              required               
                             >
                    </mat-form-field>
                   
                    
                    
                    
                </div>

                <div>    
                    <mat-form-field *ngIf="optionClientes" appearance="fill" class="comboCliente">
                        <mat-label>Selecione o Cliente</mat-label>
                        <mat-select formControlName="codigoCliente" matTooltip="Selecione um cliente" required>
                            <mat-option *ngFor="let cliente of optionClientes" [value]="cliente.codigo">
                                {{ cliente.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field *ngIf="optionProfissional" appearance="fill" class="comboProfissional">
                        <mat-label>Selecione o profissional</mat-label>
                        <mat-select formControlName="codigoProfissional" matTooltip="Profissional" required
                            (selectionChange)="listaServicos($event)">
                            <mat-option *ngFor="let option of optionProfissional" [value]="option.codigo">
                                {{ option.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="optionServicos" appearance="fill" class="comboServico">
                        <mat-label>Selecione o Servi&ccedil;o</mat-label>
                        <mat-select formControlName="codigoServico" matTooltip="Serviço" required
                            (selectionChange)="listaServicos($event)">
                            <mat-option *ngFor="let servico of optionServicos" [value]="servico.codigo">
                                {{ servico.descricao }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div style="width: 100%;">
                    <mat-form-field appearance="fill" class="observacao">
                        <mat-label>Observa&ccedil;&aacute;o</mat-label>
                        <textarea matInput #message maxlength="300" 
                          placeholder="Digite uma observação" 
                          cdkTextareaAutosize
                          formControlName ="observacao"></textarea>
                        <mat-hint align="start"><strong>Por favor, digite apenas a quantidade permitida.</strong>
                        </mat-hint>
                        <mat-hint align="end">{{message.value.length}} / 300</mat-hint>
                    </mat-form-field>
                </div>
               <!--  <mat-card-actions align="end">
                    <button mat-button color="primary" class="full" align="end" [disabled]="!formulario.valid">Alterar
                        &nbsp;<i class="material-icons right">save</i></button>
                    <button mat-button color="primary" class="full" align="end" [routerLink]="['/agenda']">Retornar
                        &nbsp;<i class="material-icons right">cancel</i></button>
                </mat-card-actions> -->
                <button mat-button color="primary" class="full" align="end" [disabled]="!formulario.valid">Salvar
                    &nbsp;<i class="material-icons right">save</i></button>
                <button mat-button color="primary" class="full" align="end" [routerLink]="['/agenda']">Retornar
                    &nbsp;<i class="material-icons right">cancel</i></button>
            </form>
        </mat-card-content>
    </mat-card>
</div>