.container{
  width: 100%;
  margin-left: 5px;
  margin-top: 5px; 
  text-align: center;
}
.mat-raised-button + .mat-raised-button{
  margin-left: 5px;
  margin-top: 5px;
}
.mat-form-field + .mat-form-field {
  margin-left: 5px;
  margin-top: 5px;
}
.titulo{
  background-color: #3f51b5;
  color: white;  
  font-size:medium;
}
.campo-DataHora{
  width: 150px;
}
.campoHora{
  width: 100px;
}
.combos{
  width: 500px;
}
.comboProfissional{
  width: 250px;
} 
.comboServico{
  width: 355px;
}
.campoValor{
  width: 150px;
}
.observacao{
  width: 750px; 
 
}
.comboCliente{
  width: 750px;
}
.mensagemObservacaoServico{
  width: 750px;
  background-color: yellow;
  height: auto;
  color:black;
  font-weight: bold;
}
.mensagemFuncionamento{
  width: 750px;
  background-color: #3f51b5;
  height: auto;
  color: white;
}
.tituloListaServicos{
  width: 750px;
  background-color: #3f51b5;
  height: auto;
  color: white;
  text-align: center;
  font-size:medium;
}
table {
  width: 750px;
  display: inline-table;
  font-size: small;
   
}
.mat-header-cell {
  background: silver;
  color:black;
}
.mat-cell{
  font-size: small;
}
.editandoCamposBloqueado{
  background-color: yellow;
  color:black;  
}
.botaoPagamento{
  background-color: green;
  color: white;
}